extends layout

block content
	h2(class=['ui', 'violet', 'top', 'attached', 'header'])= products.length + ' наименований'
	table(class=['ui', 'sortable', 'celled', 'attached', 'table'])
		thead
			tr
				th Код товара
				th Название
				th Пордано на проме
				th Продано на oc
				th Остаток
		tbody
			for item in products
				tr
					td= item['sku']
					td= item['name']
					td= item['promQuantity']
					td= item['ocQuantity']
					td= item['inStock']
