extends layout

block content
	h2(class=['ui', 'violet', 'top', 'attached', 'header'])= products.length + ' наименований'
	table(class=['ui', 'sortable', 'celled', 'attached', 'table'])
		thead
			tr
				th Номер
				th Код товара
				th Код магазина
				th Название
				th Приход
				th Продано на проме
				th Продано на oc
				th Общее
				th Остаток
		tbody
			for item, index in products
				tr
					td= index + 1
					td= item['sku']
					td= item['oc_id']
					td= item['name']
					td= item['quantity']
					td= item['promQuantity']
					td= item['ocQuantity']
					td= item['total']
					td= item['inStock']
