extends layout

block content
	h1(class=['ui', 'violet', 'header'])= 'Проданные товары: ' + products.length + ' наименований'

	table(class=['ui', 'sortable', 'celled', 'table'])
		thead
			tr
				th Код товара
				th Название
				th Количество
				th Остаток
		tbody
			for item in products
				tr
					td= item['sku']
					td= item['name']
					td= item['sum(quantity)']
					td= '?'
