extends layout

block content
	div(class=['ui', 'grid'])
		div(class=['eight', 'wide', 'column'])
			table(class=['ui', 'sortable', 'celled', 'attached', 'table'])
				thead
					tr
						th=    'ид'
						th= 'Номер в магазине'
						th= 'Код'
						th= 'Названиеr'
				tbody
					each val in ocist
						tr
							td= val['id']
							td= val['ocid']
							td= val['model']
							td= val['name']
